<a href="https://colab.research.google.com/github/aijelly/I-want-to-study-Data-Science/blob/master/n214a_logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 4*

# üìù Assignment
---
# Logistic Regression

Ïù¥Î≤àÏóêÎäî [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï∫êÍ∏Ä ÌéòÏù¥ÏßÄÏóêÏÑú Ïûò ÏÇ¥Ìé¥Î≥¥ÏãúÍ≥† Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî!

### 1) Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÏ≤òÎ¶¨ ÌïòÍ≤†ÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.(read_csv ÏÇ¨Ïö©)
- missing valueÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Ï§ëÎ≥µÎêú ÏÉòÌîåÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
  - idÍ∞Ä ÎèôÏùºÌïòÎ©¥ Ï§ëÎ≥µ ÏÉòÌîåÏûÖÎãàÎã§. idÎ°ú Ï§ëÎ≥µ Ïó¨Î∂ÄÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Ïù¥ÌõÑ id ÏπºÎüºÏùÄ dropÌïòÏÑ∏Ïöî.
- **Ï§ëÎ≥µÎêú ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÎÇ®ÏùÄ ÏÉòÌîåÏùò ÏàòÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [162]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

In [163]:
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [164]:
df = df.copy()
df.isna()
df = df.drop_duplicates()
df = df.drop('id',axis=1)

### 2) Îã§Ïö¥Î°úÎìú Ìïú ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.
- ÌÉÄÍ≤ü ÌäπÏÑ±ÏùÑ ÌôïÏù∏ÌïòÍ≥† ÌÉÄÍ≤ü Î≥ÄÏàòÎ•º ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§.
- ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/test = 80/20, random_state=2)
- ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/validation = 80/20)
- **Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞(X_val)Ïùò Í∞úÏàòÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [165]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, train_size=0.8, test_size=0.2, random_state=2)

In [166]:
train, val = train_test_split(train, train_size=0.8, test_size=0.2, random_state=2)
print("train shape: ", train.shape)
print("test shape: ", test.shape)
print("val shape: ", val.shape)
# train_test_split()

train shape:  (44800, 12)
test shape:  (14000, 12)
val shape:  (11200, 12)

### 3) Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÏÑ§Ï†ïÌïòÏÑ∏Ïöî.
- Ïö∞Î¶¨Í∞Ä ÏòàÏ∏°ÌïòÍ≥†Ïûê ÌïòÎäî columnÏùÄ `cardio`(Presence or absence of cardiovascular disease)ÏûÖÎãàÎã§.
- Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ Ï†ÑÏóê ÏµúÎπà ÌÅ¥ÎûòÏä§Î°ú Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÏÑ§Ï†ïÌï©ÎãàÎã§.
- **ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïòÏó¨ Í∏∞Ï§ÄÎ™®Îç∏ Ï†ïÌôïÎèÑÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [167]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0.post1)

In [168]:
target = 'cardio'
X_train = train.drop(columns=target)
y_train = train[target]
X_val = val.drop(columns=target)
y_val = val[target]
X_test = test.drop(columns=target)
y_test = test[target]

In [169]:
X_train

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
7808,20396,1,157,60.0,120,80,3,3,0,0,1
35103,18174,2,177,64.0,110,60,1,1,1,0,0
383,19517,1,147,41.0,80,50,1,1,0,0,1
68839,18874,1,161,54.0,110,70,1,1,0,0,0
15529,18934,1,160,61.0,150,100,2,2,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
18506,22477,1,156,58.0,110,70,2,1,0,0,0
5313,15344,2,175,82.0,110,60,1,1,0,0,1
61096,16673,2,165,65.0,120,80,1,1,0,0,0
38973,20137,1,160,87.0,140,90,1,1,0,0,0
12530,17535,1,166,86.0,160,90,1,1,0,0,1

In [170]:
# mode(): Return the highest frequency value in a Series.
major = y_train.mode()[0]

# ÌÉÄÍ≤ü ÏÉòÌîå Ïàò ÎßåÌÅº 0Ïù¥ Îã¥Í∏¥ Î¶¨Ïä§Ìä∏Î•º ÎßåÎì≠ÎãàÎã§. Í∏∞Ï§ÄÎ™®Îç∏Î°ú ÏòàÏ∏°
y_pred = [major] * len(y_train)

In [171]:
from sklearn.metrics import accuracy_score
print("training accuracy: ", accuracy_score(y_train, y_pred))

training accuracy:  0.5008705357142857

### 4) ÏàòÏπòÌòï ÌäπÏÑ± Í∞íÎì§ÏùÑ ÌëúÏ§ÄÌôî ÌïòÏÑ∏Ïöî.
- `StandardScaler()`Î•º ÏÇ¨Ïö©Ìï¥ÏÑú ÏàòÏπòÌòï ÌäπÏÑ±Îßå ÌëúÏ§ÄÌôî ÌïòÏÑ∏Ïöî.

In [172]:
features = ['age', 'height', 'weight', 'ap_hi', 'ap_lo']

In [173]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train.loc[:, features] = scaler.fit_transform(X_train.loc[:,features])
X_val.loc[:, features] = scaler.transform(X_val.loc[:, features])
X_test.loc[:, features] = scaler.transform(X_test.loc[:, features])

### 5) Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Î≤îÏ£ºÌòï ÏÑ±ÏßàÏùÑ ÏßÄÎãå ÌäπÏÑ±ÏùÑ Ï∞æÏïÑ ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- `category_encoders`Î•º ÏÇ¨Ïö©Ìï¥ÏÑú `gender` ÌäπÏÑ±Îßå ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî. 
  - `use_cat_names=True`Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§. 
  - `cols`Î•º ÏÇ¨Ïö©ÌïòÏó¨ Ïù∏ÏΩîÎî©ÏùÑ Ï†ÅÏö©Ìï† ÌäπÏÑ±ÏùÑ ÏÑ§Ï†ïÌï† Ïàò ÏûàÏäµÎãàÎã§.

In [175]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.5.1.post0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.6)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)

In [176]:
from category_encoders import OneHotEncoder
encoder = OneHotEncoder(use_cat_names=True, cols=['gender'])
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)
X_test_encoded = encoder.transform(X_test)
X_val_encoded.head(3)

,age,gender_1.0,gender_2.0,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
20630,0.705552,0,1,0.321675,-0.221396,0.184783,0.014104,1,1,0,0,1
58472,0.445057,1,0,-1.739070,-0.916259,-0.054656,-0.087151,1,1,0,0,1
54488,-1.644992,1,0,0.079234,-0.846772,-0.114516,-0.087151,1,1,0,0,1

### 6) Î™®Îç∏ ÌïôÏäµ
- Logistic Regression Î™®Îç∏ÏùÑ Ïù∏ÏΩîÎî©Îêú Îç∞Ïù¥ÌÑ∞Î°ú ÌïôÏäµÌï©ÎãàÎã§. 
  - `max_iter=1000`ÏúºÎ°ú ÏÑ§Ï†ïÌï©ÎãàÎã§. 
- **Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [177]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=2, max_iter=1000)
model.fit(X_train_encoded, y_train)

LogisticRegression(max_iter=1000, random_state=2)

In [178]:
y_val_pred = model.predict(X_val_encoded)
model.score(X_val_encoded, y_val)

0.72625

### 7) ÌïôÏäµÌïú Î™®Îç∏ÏùÑ Í≤ÄÏ¶ùÏÑ∏Ìä∏ÏóêÏÑú ÏµúÏ†ÅÌôî ÏãúÌÇ® ÌõÑ, ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ÏóêÏÑú Îî± Ìïú Î≤à Ï†ïÌôïÎèÑÎ•º ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî. (0.712 Ïù¥ÏÉÅ)**

In [179]:
y_pred = model.predict(X_test_encoded)
model.score(X_test_encoded, y_test)

0.7241428571428571

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

### 8) EDAÎ•º Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ÏàòÌñâÌïòÍ≥† ÏïÑÎûò ÏßàÎ¨∏Ïóê ÎåÄÌïú Î≥∏Ïù∏ÎßåÏùò Í∑ºÍ±∞ÏôÄ ÏàòÌñâÍ≤∞Í≥ºÎ•º Î¶¨Ìè¨Ìä∏Ìï¥ Î≥¥ÏãúÍ≥† ÏÑúÎ°ú ÎÖºÌï¥ Î≥¥ÏÑ∏Ïöî.
- ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÎßåÎì§ Ïàò ÏûàÎã§Î©¥, Ïñ¥Îñ§ ÌäπÏÑ±Í≥µÌïôÏùÑ Ìï¥ Î≥º Ïàò ÏûàÏùÑÍπåÏöî?
- ÏïÑÏõÉÎùºÏù¥Ïñ¥Í∞Ä ÏûàÎäî ÌäπÏÑ±Ïù¥ ÏûàÎã§Î©¥, Ïñ¥Îñ§ Í∏∞Ï§ÄÏúºÎ°ú Ï†úÍ±∞Ìï† Ïàò ÏûàÏùÑÍπåÏöî?
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) Î¨∏ÏÑúÎ•º Î≥¥Î©¥ Ïó¨Îü¨Í∞ÄÏßÄ Ï¢ÖÎ•òÏùò ScalarÍ∞Ä ÏûàÎäîÎç∞, Í∞Å ScalarÎäî Í∞ÅÍ∞Å Ïñ¥Îñ§ ÏÉÅÌô©Ïóê Ï†ÅÏö©ÌïòÎ©¥ Ï¢ãÏùÑÍπåÏöî? Î≥∏ Îç∞Ïù¥ÌÑ∞ÏóêÏÑúÎäî Ïñ¥Îñ§ scalarÎ•º Ï†ÅÏö©Ìï¥Î≥º Ïàò ÏûàÏùÑÍπåÏöî?
- Î™®Îç∏ ÏÑ±Îä•ÏùÑ ÎÜíÏù¥Í∏∞ ÏúÑÌï¥ Ïñ¥Îñ§ ÌäúÎãùÏùÑ Ï∂îÍ∞ÄÌï¥ Î≥º Ïàò ÏûàÏùÑÍπåÏöî?

In [180]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###